$dark-text: #4a4441;
$dark-warm: #8c6f74;
$warm-primary: #c69aa0;
$warm-secondary: #e1c5c8;
$light-text: #f7f1ee;
$dark-cold: #66756a;
$cold-primary: #aeb9a8;
$cold-secondary: #dde4da;
$warm-gray: #d5d0cb;

$Inter: "Inter", "Arial", sans-serif;

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
