.hero-link {
  padding: clamp(4px, 1vw, 12px);
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 5px 6px rgba(74, 68, 65, 0.6));

  &:is(:hover, :active, :focus)::before {
    filter: none;
  }

  &:is(:hover, :active, :focus) .hero-link__message {
    opacity: 1;
  }

  &:focus {
    outline: none;
    border: 10px dashed $cold-secondary;
    border-radius: 14px;
  }
}

/* Подумать как в мобилке реализовыть подсказку */

.hero-link__message {
  display: inline-block;
  padding: 0.5rem 0.88rem;
  position: absolute;
  z-index: 3;
  bottom: calc(100% + 12px);
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  max-width: 220px;
  box-shadow: 3px 3px 4px rgba(74, 68, 65, 0.5);
  color: $dark-text;
  font-weight: 900;
  text-decoration: none;
  text-align: center;
  font-size: 0.88rem;
  line-height: 1.4;
  background-color: $warm-secondary;
  border: 1px solid $dark-warm;
  border-radius: 50px;
  opacity: 0;
  transition: opacity 0.2s ease;


  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 10px;
    background: $warm-secondary;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
  }
}
