.long-path__title {
  margin: 0;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 600;
  color: $cold-primary;
}

.long-path__button {
  font-family: inherit;
  font-size: 0.63rem;
  font-weight: 900;
  border: none;
  cursor: pointer;
}

.long-path__text-button {
  padding: 0.5rem 1.2rem;
  font-family: inherit;
  font-size: 0.75rem;
  font-weight: 600;
  color: $dark-text;
  background-color: $warm-primary;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  position: relative;
}

.long-path__text {
  margin: 0;
  padding: 1.88rem 2.8rem;
  font-family: inherit;
  font-size: 1rem;
  color: $light-text;
  background-color: $warm-primary;
  max-width: 50%;
  border-radius: 14px;
  opacity: 0;
  position: absolute;
  transform: translateY(-120%);
  transition: transform, opacity 0.2s ease;
}
