.long-path {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.long-path__title {
  margin: 0;
  font-family: inherit;
  font-size: clamp(1.5rem, 1rem + 2vw, 2.5rem);
  font-weight: 600;
  color: $cold-primary;
}

.long-path__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(0.5rem, 1vw, 1rem);
  position: relative;
}

.long-path__text-button {
  padding: 0.5rem 1.2rem;
  font-family: inherit;
  font-size: 0.75rem;
  font-weight: 600;
  color: $dark-text;
  background-color: $warm-primary;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
  box-shadow: 0 5px 6px $dark-cold;

  &:hover {
    background-color: #b7898f;
    box-shadow: none;
  }

  &:focus {
    outline: none;
    border: 2px dashed $dark-cold;
    border-radius: 14px;
    box-shadow: none;
  }
}

.long-path__text {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, 10px) scale(0.95);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  color: $light-text;
  background-color: $warm-primary;
  border-radius: 14px;

  box-sizing: border-box;

  transition: opacity 0.25s ease, transform 0.25s ease;

  @media (max-width: $tablet-width) {
    left: 0;
    right: 0;
    transform: translateY(10px) scale(0.95);
  }
}

.long-path__wrapper.is-open .long-path__text {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translate(-70%, 0) scale(0.95);
  padding: clamp(0.3rem, 1vw, 0.6rem) clamp(0.6rem, 2vw, 1.2rem);
  font-size: clamp(0.7rem, 0.65rem + 0.3vw, 0.85rem);
  width: clamp(260px, 60vw, 600px);
  height: auto;

  @media (min-width: $tablet-width) {
    transform: translate(-100%, 0) scale(0.95);
  }
}
