.qualities-list__item {
  font-family: inherit;
  font-size: 0.88rem;
  color: $dark-text;

  &::before {
    display: block;
    content: "";
    width: 70px;
    height: 70px;
    background: url("../../images/hero/star.svg") no-repeat center / contain;
    transition: filter 0.2s ease;
  }

  &:hover::before {
    filter: drop-shadow(3px 3px 4px rgba(74, 68, 65, 0.5));
  }
}

