.short-path__title {
  margin: 0;
  font-family: inherit;
  font-size: clamp(1.5rem, 1rem + 2vw, 2.5rem);
  font-weight: 600;
  color: $cold-primary;
}

.short-path__list {
  list-style: none;
  margin: 0;
  margin-top: 0.5rem;
  padding: 0;
  align-items: left;
  gap: 0.5rem;
}

.short-path__item {
  font-family: inherit;
  font-size: 0.75rem;
  color: $dark-text;
}
