.short-stack__item {
  font-family: inherit;
  font-size: clamp(0.75rem, 0.5rem + 2vw, 1.5rem);
  color: $dark-text;
  display: flex;
  align-items: center;
  gap: clamp(0.75rem, 2vw, 1.5rem);

  &::after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background-color: $dark-text;
    border-radius: 50%;
  }
}

.short-stack li:last-of-type {
  &::after {
    display: none;
  }
}
